@import url('https://fonts.googleapis.com/css?family=Poppins');

@media screen and (min-width: 1024px) {
    .banner-alert {
        width: 668px;
       // height: 124px;
        padding: 16.2px 16px 29px 32px;
        font-family: 'Poppins';
        border-radius: 8px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.11);

    }

    .message-alert {
        color: #000;
        text-align: center;
        padding: 24px 0px;
    }

    .alert-close-icon {
        height: 14px;
        //color: #000;
        //font-weight: 300;
        margin: 12px 0px 0px 52px;
    }

    .img-red {
        margin: 30px 12px 12px 12px;
        height: 17px;
    }

}

@media screen and (min-width: 768px) {
    .banner-alert {
      //  height: 140px;
        padding: 16.2px 16px 29px 32px;
        font-family: 'Poppins';
        border-radius: 8px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.11);
    }

    .message-alert {
        color: #000;
        text-align: center;
        padding: 24px 0px;
    }

    .alert-close-icon {
        height: 14px;
        //color: #000;
        //font-weight: 300;
        margin: 12px 0px 0px 52px;
    }

    .img-red {
        margin: 30px 12px 12px 12px;
        height: 17px;
    }

}

@media screen and (min-width: 400px) {
    .banner-alert {
        //height: 180px;
        padding: 16.2px 16px 29px 32px;
        font-family: 'Poppins';
        border-radius: 8px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.11);

    }

    .message-alert {
        color: #000;
        text-align: center;
        padding: 24px 0px;
    }

    .alert-close-icon {
        height: 14px;
        //color: #000;
        //font-weight: 300;
        margin: 12px 0px 0px 52px;
    }

    .img-red {
        margin: 30px 12px 12px 12px;
        height: 17px;
    }

}

@media screen and (max-width: 343px) {
    .banner-alert {
        height: 180px;
        padding: 10px 6px 12px 14px;
        font-family: 'Poppins';
        border-radius: 8px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.11);

    }

    .message-alert {
        color: #000;
        text-align: center;
        padding: 14px 0px;
    }

    .alert-close-icon {
        height: 14px;
        //color: #000;
        //font-weight: 300;
        margin: 12px 0px 0px 24px;
    }

    .img-red {
        margin: 20px 12px 0px 0px;
        height: 17px;
    }

}